.error{
    color:red;
}
.bg-white{
    background: white !important;
}
.bg-black{
    background:black !important;
}

.text-black{
    color: #000000 !important;
}

.text-white{
    color: #fafafa !important;
}
.text-green{
    color: #06d6a0 !important;
}
.text-yellow{
    color: #ffd166 !important;
}
.text-red{
    color: #ff0000 !important;
}

.h-1{
    height:3rem;
}

.w-6{
    width: 6rem;
}



